* {
	text-align: center;
	font-family: Helvetica;
}


body {
	
}

.header {

		background-image: url("../assets/building.png");

}




h1 {

	font-size: 70px;
	font-weight: bold;
	color:white;
}

ul {
	list-style: none;
}

.designbar {
	background-image: url("../assets/building.png");
}
a{

	font-size: 18px;
	color: white;
	font-weight: bold;
}