* {
	text-align: center;
	font-family: Helvetica;
}

.header {

		background-image: url("../assets/building.png");
		background-repeat: no-repeat;
}

h1 {

	font-size: 70px;
	font-weight: bold;
	color:white;
}

ul {
	list-style: none;
}

.designbar {
	background-image: url("../assets/building.png");
}

a
{

	font-size: 18px;
	color: white;
	font-weight: bold;
}
h3 {
	font-size: 23px;
	font-weight: bold;
}
p {
	font-size: 14px;
}
h2 {
	font-size:32px;
	font-weight: bold;
	}

.designbar  {
	color:white;
}


#copyright {
	font-size: 11px;
}

nav {
	text-align: left;
	background-color:dimgray;
}